/* ICON DEFINITION FOR PRIMEFACES */
.icon-plus {
	background-image: url('../resources/icons/icon-plus.png')!important;
	background-size: cover;
}

.icon-edit {
	background-image: url('../resources/icons/icon-edit.png')!important;
	background-size: cover;
}

.icon-less {
	background-image: url('../resources/icons/icon-less.png')!important;
	background-size: cover;
}
